@import url("https://use.typekit.net/tog1idc.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.light-mode {
    --color-one: #C44a35;
    --color-two: #5fa199;
    --color-three:  #fdf9f9;
    --font-color-one: black;
    --font-color-two: gray;
    --font-color-three: white;
    --background-color: white;
    --background-color-two: rgb(138, 138, 138);


}
.dark-mode {
   --color-one: #C44a35;
    --color-two: #5fa199;

    --color-three:  #0e0e0e;
     --font-color-one: rgb(237, 237, 237);
    --font-color-two: rgb(178, 178, 178);
    --font-color-three: white;
    --background-color: #0a192f;
    --background-color-two: rgb(19, 19, 19);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-height: 100vh;
    font-family: Poppins !important;
    scrollbar-width: none;
}

#app {
    position: relative;
}

.body {
    max-height: 100vh;
    overflow-x: hidden;
}

.button-normalize {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.container-phone {
    background-color: var(--background-color)  !important;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    color: var(--font-color-one);
}

.top {
    height: 4rem;
}

.container-user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url(./assets/img/user.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    margin: unset;
}

.button-notifications {
    position: relative;
}

.dot-notifications {
    position: absolute;
    color: #C44a35;
    font-size: 30px;
    right: 2px;
    top: -17px;
}

.username {
    font-size: 1.13rem;
    color: var(--font-color-one)
}

.main {
    background-image: url(./assets/img/bg-home.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-bottom: 3.5rem;
}

.container-title-home {
    padding-left: 1rem;
}

.title-home {
    font-size: 50px;
    font-weight: bolder;
    text-align: end;
    background-color: #16161600;
    text-shadow: 1px 1px #5fa199, 2px 2px #C44a35;
}

.container-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding-bottom: 1rem;
}

.important-info {
    background-color: #C44a35;
    padding: 2rem;
    width: 80%;
    text-align: center;
    color: white;

}

.rules {
    margin-left: auto;
    border-radius: 2rem 0 0 2rem !important;

}

.contact {
    border-radius: 0 2rem 2rem 0 !important;
}

.nav-bar {
    /* background: rgb(196,74,53);
background: linear-gradient(0deg, rgba(196,74,53,1) 0%, rgba(218,197,31,1) 100%); */
    background: rgb(196, 74, 53);
    background: linear-gradient(0deg, rgba(196, 74, 53, 1) 0%, rgba(95, 161, 153, 1) 100%);
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: end;
    border-radius: 1.5rem 1.5rem 0 0;
}

.nav-bar-schedule {
    position: fixed;
    bottom: -1px;
}

.iconos-nav {
    width: 2rem;
    color: white;
}

.selector {
    background: rgba(7, 7, 7, 0.24);
    height: 3rem;
    border-radius: 1rem;
    width: 80%;
    margin: auto;
    display: flex;
}

.selectors {
    width: 51%;
    text-align: center;
}

.header-schedule {
    width: 100%;
    position: fixed;
    background-color: var(--background-color);
    padding-bottom: 0.5rem;
    border-radius: 0 0 1rem 1rem;
    z-index: 1;
    box-shadow: 0px 1px 10px -5px gray;
}

.main-schedule {
    margin-top: 6rem;
    margin-bottom: 4rem !important;
    max-width: 100vw;
    width: 100vw;
    padding-bottom: 4rem !important;
    background-color: var(--background-color);
}

.title-schedule {
    font-size: 1.125rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;

}

.schedule-selection {
    width: 90%;
    background-color: #1616163a;
    margin: auto;
    border-radius: 1rem;
    height: 3rem;
    display: flex;
    align-items: center !important;
    justify-content: center;
}

ol,
ul {
    padding-left: 0.5rem !important;
}

.title-rules {
    font-size: 1.125rem;
    font-weight: 600;
}

.selection {
    width: 33.33%;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 1rem !important;
    display: flex;
    align-items: center !important;
    justify-content: center;
    border: none !important;
    color: var(--font-color-one) !important;
}

.container-input {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 0.5rem;
}

.button-form {
    padding: 0.50rem 1rem 0.40rem 1rem !important;
    border: none !important;
    border-radius: 1rem !important;
    background-color: #4d8c85 !important;
    color: white !important;
    margin-bottom: 1rem !important;

}


legend {
    font-size: 1rem !important;
    margin-bottom: 0 !important;
}

.btn-check:active+.btn,
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:active {
    background: rgb(196, 74, 53) !important;
    background: linear-gradient(0deg, rgba(196, 74, 53, 1) 0%, rgba(95, 161, 153, 1) 100%) !important;
    border: none;
    box-shadow: 0px 1px 5px -1px #53231a;
    color: white !important;
}



/* .selection:hover {
    background-color: #C44a35 !important;
    border: none !important;
} */

.container-cards {
    max-width: 100vw;
}

.card-event {
    background-color: var(--background-color-two);
    border-radius: 1rem;
    margin: auto;
    margin-top: 1.5rem;
    position: relative;
    width: 90%;
    height: 9rem;
}

.card-event-notification {
    background-color: var(--background-color-two);
    border-radius: 1rem;
    margin: auto;
    margin-top: 1.5rem;
    position: relative;
    width: 90%;
    height: 10rem;
}

.event-reason {
    border-bottom: 1px solid #c44a3539 !important;
    padding: 0.5rem !important;
    background-color: #c44a3589;
    border-radius: 1rem 1rem 0 0;
}

.title-card {
    font-size: 1.25rem;
}

.card-mark {
    background-color: #C44a35;
    width: 8px;
    position: absolute;
    height: 70%;

    border-radius: 0.5rem;
}

.buttons-event {
    height: 100%;
    height: 9rem;
}

.buttons-event-notifications {
    height: 100%;
    height: 6rem;
}

.container-event-map {
    width: 100vw;
    height: 60%;
    max-height: 100vh;
}

.event-map {
    width: 100%;
    height: 100%;
}

.container-img-login {
    height: 30vh !important;
}

.img-login {
    height: 70%;
}

.container-title-login {
    width: 100%;
    max-width: 500px;
}

.title-login {

    font-weight: bold;
    text-shadow: 1px 1px #5fa199, 2px 2px #C44a35;
}

.log-out {
    font-size: 1rem;
}

.container-user-image {
    position: relative;
    margin: auto;
    width: 100px;
    height: 100px;
}

.user-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;

}

.bi-plus-circle-fill {
    position: absolute;
    top: 80px;
    left: 8px;

}

.personal-data,
.user-preferences {
    width: 92%;
    border-radius: 1rem;
    box-shadow: 0px 1px 6px -2px #bcbcbc;
    margin: auto;
    background-color: var(--color-three);
    padding: 0.75rem 0.5rem;
  

}

/* .personal-data {
  margin-top: 0.5rem;
}  */

.form-control {
    padding: 0 !important;
    margin-bottom: 1rem !important;
    border: none !important;
    background-color: rgba(193, 255, 249, 0.417) !important;
    color: var(--font-color-two) !important;
    border-radius: 1rem !important;
    text-align: center;
}

.form-select {
    background-color: #5fa19940 !important;
    border-radius: 1rem !important;
    color: var(--font-color-one)!important;
}
option {
    color: var(--font-color-three)!important;
}

.form-control-data {
    display: block;
    padding: 0;
    margin-bottom: 0.75rem;
    border: none;
    background-color: transparent;
    color: gray;
    border-radius: 1rem;
}

.form-control-data:focus {
    border: none;
    outline: #5fa1999c solid 4px;
    padding-left: 0.5rem;
}


.form-check-input:checked {
    background-color: #C44a35 !important;

    border-color: #C44a35 !important;
}

.button-save {
    font-weight: normal;
    color: gray;
    font-size: 1rem;
}

.button-gender {
    padding: 0 1rem !important;
    border: none !important;
    border-radius: 1rem !important;
    background-color: gray !important;
    color: white !important;
}

.text-register {
    color: rgb(116, 116, 116);
}

.button-register {
    color: var(--font-color-one);
    font-weight: 500;
}

a {
    text-decoration: none !important;
    color: rgb(128, 128, 128) !important;
}

.button-login {
    background: rgb(196, 74, 53);
    background: linear-gradient(0deg, rgba(196, 74, 53, 1) 0%, rgba(95, 161, 153, 1) 100%);
    border: none;
    padding: 0.75rem;
    border-radius: 1.75rem;
    color: white !important;

}

.button-google {
    background: gray;

    border: none;
    padding: 0.75rem;
    border-radius: 1.75rem;
    color: white;
    width: 100%;
}

.button-go-back {
    background: rgb(196, 74, 53);
    background: linear-gradient(0deg, rgba(196, 74, 53, 1) 0%, rgba(95, 161, 153, 1) 100%);
    border-radius: 1rem !important;
    padding: 0.5rem 3rem 0.4rem 3rem !important;
    color: white !important;

}

.modal-content {
    background-color: var(--background-color)!important;
}

.modal-body-event {
    overflow: hidden !important;
}

.modal-footer {
    padding: 0.25rem !important;
    border: none !important;
}

.modal-header {
    border: none !important;
    background: rgb(196, 74, 53);
    background: linear-gradient(0deg, rgba(196, 74, 53, 1) 0%, rgba(95, 161, 153, 1) 100%);
    color: white;
    border-radius: 0 0 1rem 1rem !important;
}

.input-login {
    padding: 0.5rem !important;
    border-radius: 1.5rem !important;
    border: 3px solid #5fa19991 !important;
    background-color: transparent !important;
}

/* input:focus {
    border: 2px solid #5fa199!important;
} */

.normalize-h {
    font-size: 1.125rem;
}

.banner {
    background: rgb(196, 74, 53);
    background: linear-gradient(0deg, rgba(196, 74, 53, 1) 0%, rgba(95, 161, 153, 1) 100%);
    height: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header-account {
    height: 2rem;
}

.main-account {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    max-width: 100vw;
    padding-bottom: 2.5rem; 
}

.main-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input[type="submit"] {
    border-radius: 1rem !important;
    padding: 0.5rem 3rem 0.4rem 3rem !important;
    color: white !important;
    border: none !important;
    box-shadow: unset !important;
    margin: auto;
    background-color: #C44a35;
}

.title-modal {
    border-bottom: 3px solid #c44a35b4;
    padding-bottom: 0.5rem;
}

.container-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-register {
    margin: 1rem;
}

@media (orientation: landscape) {
    .container-title-home {
        width: 49%;
        padding: unset;
    }

    .title-home {
        text-align: start !important;
        padding-left: 1rem !important;
    }

    .main {
        display: flex !important;
        flex-direction: row !important;
        background-position-x: 50%;
        background-position-y: 40%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .main-account {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-evenly !important;
        align-items: center;
      
      
    }

    .personal-data {
        margin: unset !important;
    }

    .container-info {
        width: 50%;
        max-height: 100%;

    }

    .important-info {
        background-color: #C44a35;
        padding: 1.25rem;
        width: 80%;
        text-align: center;
        color: white;

    }

    .contact {
        border-radius: 2rem 0 0 2rem !important;
        margin-left: auto;
    }

    .h-see {
        margin: unset !important;
        padding-left: 1rem !important;
        text-shadow: 1px 1px #C44a35, 2px 2px white;
        color: #5fa199;
    }

    .h-coming {
        text-align: right !important;
        text-shadow: 1px 1px #C44a35, 2px 2px white;
        color: #5fa199;
    }

    /* .banner {
        display: flex;
        flex-direction: column;
        justify-content: start!important;
        align-items: center;
    } */
    .personal-data,
    .user-preferences {
        border-radius: 1rem;
        box-shadow: 0px 1px 6px -2px #bcbcbc;
        margin: unset;
        padding: 1rem;
        width: 38%;
    }

    .main-login {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .banner {
        height: 80%;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2.5rem 0;
    }

    .user-preferences {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .user-preferences,
    .banner {
        height: 70%;
        width: 28%;
        margin: unset;
    }

    .input-login {
        padding: 0.40rem !important;
        border-radius: 1.5rem !important;
        border: 3px solid #5fa19991 !important;
        background-color: transparent !important;
    }


    .header-account {
        height: 2rem;
        box-shadow: 0 1px 15px -5px rgb(151, 142, 142);
    }

    .header-login {
        position: absolute !important;
        top: 0 !important;
    }

    .button-login {
        padding: 0.55rem !important;
    }

    .button-google {
        padding: 0.55rem !important;
    }

    .text-register {
        margin-bottom: 0px !important;
    }

    .img-login {
        height: 50vh;
    }
}